@use '../../foundation' as f;

.c-container {
  width: f.$base_width_max + f.$base_padding_max * 2;
  margin-left: auto;
  margin-right: auto;
  padding-left: f.$base_padding_max;
  padding-right: f.$base_padding_max;

  @include f.mq-max {
    width: f.smooth_size(f.$base_width_min, f.$base_width_max + f.$base_padding_max * 2);
    padding-left: f.smooth_size(f.$base_padding_min, f.$base_padding_max);
    padding-right: f.smooth_size(f.$base_padding_min, f.$base_padding_max);
  }

  @include f.mq-spmin {
    width: 100%;
  }

  @include f.mq-min {
    padding-left: f.$base_padding_min;
    padding-right: f.$base_padding_min;
  }
}

.c-fluid {
  padding-left: f.$base_padding_max;
  padding-right: f.$base_padding_max;

  @include f.mq-max {
    padding-left: f.smooth_size(f.$base_padding_min, f.$base_padding_max);
    padding-right: f.smooth_size(f.$base_padding_min, f.$base_padding_max);
  }
  @include f.mq-min {
    padding-left: f.$base_padding_min;
    padding-right: f.$base_padding_min;
  }
}
